/* *{
    background-color: #ADD8E6;
} */


#input{width:280px;
    height:90px;
    /* border:1px solid black; */
    justify-content: center;
    margin-left:150px;
    /* padding: 100px; */
    background-color: #F5F5F5;
    padding-left: 100px;
    border-radius: 10px;
    margin-top: 5px;
}
#input>input{
    border: none;
    border:1px solid grey;
    border-radius:5px;
    width:200px;

}

#input>button{
    height:30px;
    width:200px;
    border:none;
    background-color: #4B9CD3;
    border-radius: 20px;
    font-weight: bolder;
    
}
#navbar{
    width:100%;
    height:100px;
    border:1px solid black;
    border-style:dashed;
    background-color: #4B9CD3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
   
}

#displayingStudentsList{
    height:300px;
    width:800px;
    border:1px solid grey;
    margin-left: 200px;
    margin-top: 10px;
    background-color: #F5F5F5;
    padding: 10px;
}

#markingAttendence{
    height:300px;
    width:800px;
    border:1px solid grey;
    justify-content: center;
    margin-left: 200px;
    margin-top: 10px;
    background-color: #F5F5F5;
    padding: 10px;

}

h2{
    margin-left:200px ;
    
}

#mark{
    height:50px;
    width:820px;
    /* border:1px solid black; */
    margin-left: 200px;
    margin-top: 50px;
    background-color:#4B9CD3
}

#sign-in{
    height:100px;
    width:100px;
    /* border:1px solid black; */
    /* background-color: white; */
}

#sign-in>i{margin: 10px;

}
