/* *{
    background-color: #ADD8E6;
} */


#input{width:280px;
    height:90px;
    /* border:1px solid black; */
    justify-content: center;
    margin-left:150px;
    /* padding: 100px; */
    background-color: #F5F5F5;
    padding-left: 100px;
    border-radius: 10px;
    margin-top: 5px;
}
#input>input{
    border: none;
    border:1px solid grey;
    border-radius:5px;
    width:200px;

}

#input>button{
    height:30px;
    width:200px;
    border:none;
    background-color: #4B9CD3;
    border-radius: 20px;
    font-weight: bolder;
    
}
#navbar{
    width:100%;
    height:100px;
    border:1px solid black;
    border-style:dashed;
    background-color: #4B9CD3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    /* position: fixed; */
   
}

#displayingStudentsList{
    height:50px;
    width:680px;
    border-left:1px solid grey;
    /* margin-left: 200px; */
    /* margin-top: 50px; */
    background-color: #F5F5F5;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
/* #displayingStudentsList>div:nth-child(1){
    height: 300px;
    width: 50px;
    border-right:1px solid grey;
} */


#markingAttendence{
    height:300px;
    width:800px;
    border:1px solid grey;
    justify-content: center;
    margin-left: 200px;
    margin-top: 50px;
    background-color: #F5F5F5;
    padding: 10px;

}

h2{
    margin-left:300px ;
    
}

#mark{
    height:50px;
    width:820px;
    /* border:1px solid black; */
    margin-left: 200px;
    margin-top: 50px;
    background-color:#4B9CD3
}

#sign-in{
    height:100px;
    width:100px;
    /* border:1px solid black; */
    /* background-color: white; */
}

#sign-in>i{margin: 10px;

}

#presentDiv{
    display: flex;
    justify-content: space-evenly;
}

#attendence_sheet_bottom{
    height:400px;
    width:840px;
    border: 1px solid black;
    margin-left: 200px;
    margin-top: 50px;
    background-color: #F5F5F5;
    /* padding: 10px; */
    display: flex;
}

#attendence_sheet_bottom>div:nth-child(1){
    height: 400px;
    width: 100px;
    border: none;
    padding: 20px;
}

#first{
    height: 330px;
    width:100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
   
}


#date-section>div:nth-child(1){
    height:50px;
    width:100px;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}
#date-section>div:nth-child(2){
    height:320px;
    width:100px;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}